<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coey</title>
    <link rel="stylesheet" href="../static/stylesheets/mod.css" type="text/css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js 

"></script>
    <script src="../static/javascripts/1.js" type="text/javascript"></script>
    <script src="../static/javascripts/logout.js" type="text/javascript"></script>
    <link rel="short icon" href="../static/images/group.ico">
</head>
<body>

<ul class="topmenu">
    <li><a href="#home" class="active">主页</a></li>
    <li>
        <a href="#community">社区</a>
            <ul class="submenu">
                <li><a href="https://www.csdn.net/ 

" target="_blank">讨论</a></li>
                <li><a href="https://vmatrix.org.cn/login 

" target="_blank">作业</a></li>
                <li><a href="https://leetcode-cn.com/problemset/all/ 

" target="_blank">题库</a></li>
                <li><a href="http://www.cplusplus.com/reference/ 

" target="_blank">资料</a></li>
            </ul>
    </li>
    <li>
        <a href="#contact" style="text-align: right">联系我们</a>
            <ul class="submenu">
                <li><a href="https://github.com/yanCoey/pro 

" target="_blank">Github</a></li>
            </ul>
    </li>
    <!-- <div class="dropdown">
            <a href="#contact" class="dropbtn">  ϵ    </a>
            <div class="dropdown-content">
                <a href="https://github.com/yanCoey/pro 

" target="_blank">Github</a>
            </div>
        </div> -->
    <li>
        <a href="#about" style="text-align: right">关于我们</a>
            <ul class="submenu">
                <li><a href="#zjw">赵俊威</a></li>
                <li><a href="#zml">张曼琳</a></li>
                <li><a href="#yhc">严宏昌</a></li>
                <li><a href="#ysy">叶盛源</a></li>
            </ul>
    </li>
    <img id=0 src="../static/images/ysy.jpg" alt="cannot find this user" width="60px" height="60px" style="float: right">
</ul>

<div class="clearfix">
    <br><br><br><button onclick="logout();">注销</button>
    <!-- <a href="../" style="float: right" onclick="logout();">退出登陆</a> -->
    <div class="column sidemenu">
        <ul>
            <li><a href="#news" class="active">新闻</a></li>
            <li><a href="#updates">更新</a></li>
            <li><a href="#more">敬请期待</a></li>
            <li><a href="#more">敬请期待</a></li>
            <li><a href="#more">敬请期待</a></li>
            <li><a href="#more">敬请期待</a></li>
            <li><a href="#more">敬请期待</a></li>
        </ul>
    </div>

    <div class="column content">
        <div class="header">
            <h1>Big News!!!!</h1>
        </div>
        <h1>唱跳code篮球</h1>
        <p>
            <b>
                    我们成立啦哈哈哈哈哈<br>向世人宣布我们已经横空出世啦啦啦~~~<br>
            </b>
            <i>
                    不知道该写什么，叶盛源牛逼就vans了 <br>赵俊威也牛逼 张曼琳也牛逼 菜鸡等躺（但是其实我严宏昌贼强）！
            </i>
        </p>
    </div>
</div>

<div class="footer">
    <p>
        入网许可号：xxx
    </p>
</div>

</body>
</html>
